[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
tensorflow = "==2.9"
numpy = "*"
scikit-learn = "*"
pillow = "*"
flask = "*"
tflite-runtime = "*"
keras-image-helper = "*"
flasgger = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.8"
