[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "==1.7.0"
flask = "*"
gunicorn = "*"
xgboost = "==3.0.4"

[dev-packages]

[requires]
python_version = "3.12"
